  <div class="c-heading {{class}} u-display-flex u--align-center u-margin-bottom-xxlg">
    <h1 class="u-margin-none">{{heading}}</h1>
    {{#if new}}
      <a href="{{link}}" class="{{class}} c-link u-margin-left-auto u-display-block">{{new}}</a>
     {{/if}} 
  </div>