<div class="c-mobile-header {{theme}} u-width-full u--align-center u--space-between u-padding-sides-md u-padding-top-sm u-padding-bottom-sm">
  <a href="{{backlink}}" class={{backclass}}>
    {{>iconarrow class="c--medium"}}
  </a>
  <h1 class="u-margin-none">{{header}}</h1>
  <a class="{{newclass}}">
    {{>iconedit class="c--medium"}}
  </a>
</div>