<article class="c-person">
  <div class="c-person__buttons">
    <button class="c-button c--primary u-margin-right-lg">Yes, I'm interested</button>
    <button class="c-button c--ghost">No, skip</button>
  </div>

  <div class="u-position-relative u-padding-lg">
    <div class="c-person__profile">
      <div class="c-person__image">
        <img src="img/profile-pic.jpg">
      </div>
      <div class="c-person__details">
        <h1 class="u-text-bold u-color-blue u-text-size-medium u-margin-none">{{name}}</h1>
        <p class="u-margin-none u-margin-top-sm">{{description}}</p>
        <div class="u-text-bold u-display-flex u--space-between u--align-flex-end u-margin-top-xlg">
          <div>{{type}}</div>
          <div><span class="u-color-blue u-text-size-mobile u-display-block">Live</span>${{liverate}}/Session</div>
          <div><span class="u-color-blue u-text-size-mobile u-display-block">Virtual</span>${{virtualrate}}/Session</div>
        </div>
      </div>
    </div>
    <div class="c-person__stats">
      <span class="u-text-bold u-color-grey">{{activity}}</span>
      <span class="u-text-bold u-color-grey">{{location}}</span>
      <span class="u-text-bold u-color-grey">{{availability}}</span>
    </div>
  </div>
</article>